<div class="container">
  <H1>Kamil's application for company management</H1>
  <app-billings (billingsOutput)="setBillingOutput($event)" (billingsResponseOutput)="setBillingsResponseOutput($event)"></app-billings>

  <div class="container">
    <div class="row">
      <div class="col">
        <app-billings-form [billingRowInput]="billingOutput"></app-billings-form>
      </div>
      <div class="col">
        <app-pie-chart [billingResponseInput]="billingsResponseOutput"></app-pie-chart>
      </div>
    </div>
  </div>
</div>
