<p>Enter your name</p>
<input type="text" #name>
<button (click)="sayHello(name.value)">Say Hello!</button>
{{messageForUser}}

<br>
<pre>{{billings|json}}</pre>

<div class="container">
  <table class="table table-dark">
    <thead>
    <tr>
      <th scope="col">Billing Id</th>
      <th scope="col">Net Earnings</th>
      <th scope="col">Vat</th>
      <th scope="col">Gross Earnings</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor='let billing of this.billings'>
        <td>{{billing.billingId}}</td>
        <td>{{billing.netEarnings}}</td>
        <td>{{billing.vat}}</td>
        <td>{{billing.grossEarnings}}</td>
      </tr>
    </tbody>
  </table>
</div>

