<br>
<table *ngIf="billings" datatable class="cell-border hover">
  <thead>
  <tr>
    <th scope="col">Billing Id</th>
    <th scope="col">Date</th>
    <th scope="col">Net Earnings</th>
    <th scope="col">VAT</th>
    <th scope="col">Gross Earnings</th>
    <th scope="col">CIT</th>
    <th scope="col">Earnings on Hand</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor='let billing of billings' (click)="fillFormWithRow(billing)">
    <td>{{billing.billingId}}</td>
    <td>{{billing.date}}</td>
    <td>{{billing.netEarnings}} {{currency}}</td>
    <td>{{billing.vatValue}} {{currency}}</td>
    <td>{{billing.grossEarnings}} {{currency}}</td>
    <td>{{billing.citValue}} {{currency}}</td>
    <td>{{billing.earningsOnHand}} {{currency}}</td>
  </tr>
  </tbody>
</table>
<br>
<div class="form">
  <div class="row justify-content-md-center">
    <div class="col">
      <app-new-billing-modal (renderOutputFromModal)="renderTableAfterModalSave($event)"></app-new-billing-modal>
    </div>
    <div class="col-3">
      <select (change)="setMonth($event)" label="Month" class="browser-default custom-select">
        <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06" selected>June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
    </div>
    <div class="col-3">
      <select label="Year" (change)="setYear($event)" class="browser-default custom-select">
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
      </select>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-success" (click)="fillBillingTableWithData()">Get Table Data</button>
    </div>
  </div>
</div>
<hr>
<table *ngIf="billings" class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Sum of NetEarnings</th>
    <th scope="col">Sum of GrossEarnings</th>
    <th scope="col">Sum of VatValue</th>
    <th scope="col">Sum of CitValue</th>
    <th scope="col">Sum of zusValue</th>
    <th scope="col">Sum of EarningsOnHand</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{billingsResponse.sumNetEarnings}} {{currency}}</td>
    <td>{{billingsResponse.sumGrossEarnings}} {{currency}}</td>
    <td>{{billingsResponse.sumVatValue}} {{currency}}</td>
    <td>{{billingsResponse.sumCitValue}} {{currency}}</td>
    <td>{{billingsResponse.zusValue}} {{currency}}</td>
    <td>{{billingsResponse.sumEarningsOnHand}} {{currency}}</td>
  </tr>
</table>

