<div class="container">
  <H1>Kamil's application for company management</H1>

  <br>
  <table datatable class="row-border hover">
    <thead>
    <tr>
      <th scope="col">Billing Id</th>
      <th scope="col">Net Earnings</th>
      <th scope="col">Vat</th>
      <th scope="col">Gross Earnings</th>
      <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor='let billing of billings'>
        <td>{{billing.billingId}}</td>
        <td>{{billing.netEarnings}}</td>
        <td>{{billing.vat}}</td>
        <td>{{billing.grossEarnings}}</td>
        <td>{{billing.date}}</td>
      </tr>
    </tbody>
  </table>
</div>

