<form [formGroup]="myForm" (ngSubmit)="submit()" class="form form-register" (reset)="resetForm()">
  <div class="form-group">
    <label for="billingId">Billing Id</label>
    <input class="form-control" name="billingId" id="billingId" type="number" formControlName="billingId" required>

    <label for="netEarnings">Net Earnings</label>
    <input class="form-control" name="netEarnings" id="netEarnings" type="number" formControlName="netEarnings" required>

    <label for="vatType">VAT Type</label>
    <input class="form-control" name="vatType" id="vatType" type="text" formControlName="vatType" required>

    <label for="citType">CIT Type</label>
    <input class="form-control" name="citType" id="citType" type="text" formControlName="citType" required>
  </div>

  <button class="btn btn-primary" type="submit" (click)="submit()">Save</button>
  <button class="btn btn-info" type="reset">Reset</button>
  <button class="btn btn-danger" (click)="deleteBilling()">Delete</button>
</form>
