<form #myForm="ngForm" (ngSubmit)="submit(myForm)" class="form form-register" (reset)="resetForm(myForm)">
  <div class="form-group">
    <label for="billingId">Billing Id</label>
    <input class="form-control" name="Billing Id" id="billingId" type="text" ngModel required>

    <label for="netEarnings">Net Earnings</label>
    <input class="form-control" name="Net Earnings" id="netEarnings" type="text" ngModel required>

    <label for="vatType">VAT Type</label>
    <input class="form-control" name="VAT Type" id="vatType" type="text" ngModel required>

    <label for="citType">CIT Type</label>
    <input class="form-control" name="CIT Type" id="citType" type="text" ngModel required>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
  <button class="btn" type="reset">Reset</button>
</form>
